<template>
    <div :id="'reply-'+id" class="card" style="margin: 10px 0px">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div>
                    <a :href="'/profiles/' + data.owner.name" 
                        v-text="data.owner.name">
                    </a>  said   ...  <span v-text="ago"></span>
                </div>
                <div v-if="signedIn">
                    <favorite :reply="data"></favorite>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div v-if="editing">
                <form @submit.prevent="update">
                    <div class="form-group">
                        <textarea rows="3" class="form-control" v-model="body" required></textarea>
                    </div>
                    <button class="btn btn-outline-danger btn-sm" @click="editing = false" type="button"><i class="far fa-times-circle"></i></button>
                    <button type="submit" class="btn btn-outline-primary btn-sm"><i class="far fa-save"></i></button>
                </form>
            </div>
            <div v-else v-html="body"> </div>
        </div>
        <div v-if="! editing">
            <div class="card-footer" v-if="canUpdate">
                <div class="d-flex">
                    <button class="btn btn-warning btn-sm mr-2" @click="editing = true"><i class="far fa-edit"></i></button>
                    <button class="btn btn-danger btn-sm mr-2" @click="destroy"><i class="far fa-trash-alt"></i></button>
                </div>
            </div>
        </div>
    </div>    
</template>


<script>

import Favorite from './Favorite.vue';
import moment from 'moment';

export default {
    props : ['data'],
    components: { Favorite },
    data() {
        return {
            id: this.data.id,
            editing: false,
            body : this.data.body
        };
    },
    computed: {
        ago() {
            console.log(moment(this.data.created_at).fromNow());
            return moment(this.data.created_at).fromNow();
        },
        signedIn() {
            return window.App.signedIn;
        },
        canUpdate() {
            return this.authorize(user => this.data.user_id == user.id);
            // return this.data.user_id == window.App.user.id && window.App.signedIn
        }
    },
    methods: {
        update() {
            axios.patch('/replies/' + this.data.id, {
                body: this.body
            })
            .then(response => {
                flash('Your reply has been updated');
                this.editing = false;
            })
            .catch(error => {
                flash(error.response.data, 'danger');
            });
        },
        destroy() {
            axios.delete('/replies/' + this.data.id);

            this.$emit('deleted', this.data.id)
        }
    }
}
</script>
