<template>
    <li class="nav-item dropdown" v-if="notifications.length">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            <span><i class="far fa-bell"></i></span>
        </a>

        <div class="dropdown-menu dropdown-menu-right">
            <li v-for="notification in notifications" :key="notification.id">  
                <a :href="notification.data.link" class="dropdown-item" v-text="notification.data.message" @click="markAsRead(notification)"></a>
            </li>
        </div>
    </li>
</template>

<style scoped>
.dropdown-toggle::after {
    display:none;
}
</style>


<script>
    export default {
        data() {
            return {
                notifications: false
            };
        },
        created() {
            axios.get('/profiles/'+ window.App.user.name  + '/notifications')
                .then(response => this.notifications = response.data);
        },
        methods: {
            markAsRead(notification) {
                console.log('asa');
                axios.delete('/profiles/' + window.App.user.name + '/notifications/' + notification.id);
            }
        }
    }
</script>
